* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: none;
  outline: none;
  text-decoration: none;
  overflow-x: hidden;
}

html {
  width: 100vw;
  min-height: 100vh;
  font-size: 62.5%; // 1rem = 10px
  scroll-behavior: smooth;
}

body {
  width: 100%;
  min-height: 100%;
  font-size: 1.6rem;
  color: map-get($colors, dark);
  font-family: "Montserrat", sans-serif;
}
