// XX-Large devices (larger desktops, 1400px and up)
@media (max-width: 1400px) {
}

// X-Large devices (large desktops, 1200px and up)
@media (max-width: 1200px) {
  html {
    font-size: 56.25%; // 1rem = 9px
  }
  body {
    font-size: 1rem;
  }
}

// Large devices (desktops, 992px and up)
@media (max-width: 1050px) {
  html {
    font-size: 50%; // 1rem = 8px
  }
  .header-logo-src {
    width: 20rem;
  }
  .footer a {
    font-size: 1.6rem;
  }
}

// .header-link
// Medium devices (tablets, 768px and up)
@media (max-width: 780px) {
  html {
    font-size: 43.75%; // 1rem = 7px
  }
  .header {
    height: 8vh;
  }
  .header-logo-src {
    width: 18rem;
  }

  .section-brands__wrapper {
    place-items: center;
    grid-template-columns: 1fr;
    row-gap: 5rem;

    &-items {
      width: 80%;
      transform: none !important;

      &:hover {
        transform: none;
        outline: none !important;
        border: 0.3rem #37b3d2 solid !important;
      }
    }
  }
}

//Small devices (landscape phones, 576px and up)
@media (max-width: 650px) {
  html {
    font-size: 37.5%; // 1rem = 6px
  }
  .header {
    height: 7vh;
    padding-inline: 5rem;
  }
  .header-logo-src {
    width: 16rem;
  }
  .main {
    padding-inline: 5rem;
  }
  .section-brands__wrapper-items {
    width: 70%;
  }
}

@media (max-width: 560px) {
  html {
    font-size: 31.25%; // 1rem = 4px
  }
  .header {
    padding-inline: 5rem;
  }
  .header-logo-src {
    width: 16rem;
  }
  .main {
    padding-inline: 5rem;
  }
}

@media (max-width: 400px) {
  html {
    font-size: 21.875%; // 1rem = 3.5px
  }
}
