@media (max-width: 1200px) {
  .header {
    height: 8.5vh;
  }
  .section-hero {
    margin-top: 8.5vh;
  }
  .header__list-item--link {
    font-size: 1.8rem;
  }
  .header-logo-src {
    height: 7vh;
  }
}

@media (max-width: 920px) {
  html {
    font-size: 50%;
  }
  .header {
    height: 7.5vh;
  }
  .section-hero {
    margin-top: 7.5vh;
  }
  .header__list-item--link {
    font-size: 1.6rem;
  }
  .header-logo-src {
    height: 5.5vh;
  }
}

@media (max-width: 820px) {
  html {
    font-size: 43.75%;
  }
  .header {
    height: 6.5vh;
  }
  .section-hero {
    margin-top: 6.5vh;
  }
  .header__list-item--link {
    font-size: 2rem;
  }
  .header-logo-src {
    height: 5vh;
  }

  .section-hero {
    &__list-item {
      gap: 1rem;
      p {
        font-size: 2rem;
      }
    }
    &-text {
      width: 60%;
      font-size: 2.2rem;
    }
  }

  .section-about {
    height: 90vh;
  }
  .section-about__container {
    padding-inline: 8rem;
  }
  .section-brands__container {
    flex-direction: column !important;
  }
  .section-brands__container-content {
    width: 80%;
  }
  .section-brands__container-content--title,
  .section-brands__container-content--text {
    text-align: center;
  }

  .section-brands__container-content--text {
    margin-bottom: 2rem;
  }
}

@media (max-width: 730px) {
  html {
    font-size: 37.5%;
  }
  .header {
    height: 7.6vh;
  }
  .section-hero {
    margin-top: 7.6vh;
    &-text {
      font-size: 3rem;
    }
    &-title {
      font-size: 4.5rem;
    }
    &__list-item p {
      font-size: 3rem;
    }
    &__list-item svg {
      width: 4rem;
      height: 4rem;
    }
  }
  .header__list {
    display: none;
  }
  .header-logo-src {
    height: 6.5vh;
  }

  .section-about__container {
    padding-inline: 6rem;
  }

  .footer {
    padding-inline: 1rem;
    &__list {
      &-item {
        height: 50%;
      }
    }
  }
}

@media (max-width: 650px) {
  html {
    font-size: 31.25%;
  }
  .section-hero {
    justify-content: center;
  }
  .section-hero__list {
    display: none;
  }
  .section-hero-title {
    text-align: center;
  }
  .section-hero-text {
    text-align: center;
    width: 80%;
    align-self: center;
  }
  .section-contact__container {
    flex-direction: column;
    justify-content: space-around;
    align-items: center;

    &-content {
      width: 100%;
      align-items: center;
      &__list-item-link {
        font-size: map-get($font-sizes, xl);
      }
    }
  }
}
