$colors: (
  "light": #f9f7f7,
  "secondary-button": #ffffff,
  "dark": #111418,
  "dark-2": #222,
  "dark-3": #333,
  "primary": #fea83e,
  "accent": #37b3d2,
);

$font-sizes: (
  "xs": 1.2rem,
  "s": 1.4rem,
  "base": 1.6rem,
  "l": 2rem,
  "xl": 2.4rem,
  "xxl": 3.2rem,
  "xxxl": 3.6rem,
  "xxxxl": 4rem,
  "heading": 8.6rem,
);

$font-weights: (
  "light": 300,
  "regular": 400,
  "medium": 500,
  "semi-bold": 600,
  "bold": 700,
);
