$colors: (
  "primary": #c42121,
  "primary-light": #cd4848,
  "primary-dark": #721313,
  "accent": #2a1e1e,
  "accent-light": #8d4444,
  "dark": #222,
  "light": #fafafa,
);

$font-sizes: (
  "xs": 1.2rem,
  "s": 1.4rem,
  "base": 1.6rem,
  "l": 2rem,
  "xl": 2.4rem,
  "xxl": 3.2rem,
  "xxxl": 3.6rem,
  "xxxxl": 4rem,
  "heading": 8.6rem,
);

$font-weights: (
  "light": 300,
  "regular": 400,
  "medium": 500,
  "semi-bold": 600,
  "bold": 700,
);
