.footer {
  width: 100%;
  padding: 6rem 3rem;
  background-color: map-get($colors, dark);
  color: map-get($colors, light);
  a {
    color: map-get($colors, light);
  }
  &__contact {
    &-wrapper {
    }
    &__list {
      display: flex;
      flex-direction: column;
      gap: 3rem;
      margin-top: 3rem;
      &-wrapper {
        display: flex;
        justify-content: space-between;
      }
      &-item {
        display: inline-flex;
        height: min-content;
        gap: 2rem;
        &__icon {
          width: 3rem;
          height: 3rem;
          fill: map-get($colors, light);
        }
      }
    }
    &__icon-list {
      display: flex;
      &__item-svg {
        fill: map-get($colors, light);
        width: 3rem;
        height: 3rem;
        &:nth-child(1) {
          fill: transparent;
          stroke: red;
        }
      }
    }
  }
}
