.header {
  position: fixed;
  top: 0;
  left: 0;
  padding-inline-start: 2rem;
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  height: 10vh;
  box-shadow: 0 0.2rem 0.5rem lighten(map-get($colors, dark), 10%);
  z-index: 5;
  background-color: map-get($colors, light);

  &__list {
    display: flex;
    width: 60%;
    justify-content: space-between;
    align-items: center;
    height: 100%;

    &-item {
      height: 100%;

      &--link {
        height: 100%;
        display: flex;
        align-items: center;
        text-decoration: none;
        color: map-get($colors, dark);
        font-size: map-get($font-sizes, xl);
        font-weight: map-get($font-weights, medium);
        transition: all 100ms ease;

        &:hover {
          border-bottom: 0.4rem solid map-get($colors, primary);
          color: map-get($colors, primary);
        }
      }
    }
  }

  &-btn {
    height: 100%;
    width: auto;
    aspect-ratio: 1/1;
    background-color: map-get($colors, primary);
    color: map-get($colors, light);
    font-size: map-get($font-sizes, xl);
    transition: all 100ms ease;

    &:hover {
      cursor: pointer;
      background-color: map-get($colors, primary-light);
    }
  }
}
