.section-hero {
  margin-top: 10vh; /* Account for Header */
  position: relative;
  height: 100vh;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(/assets/home.webp);
  background-position: bottom;
  background-size: cover;
  background-repeat: no-repeat;
  text-align: right;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-inline: 5rem;

  &-title {
    margin-block-end: 3rem;
  }

  &-text {
    display: inline-flex;
    color: map-get($colors, light);
    font-size: map-get($font-sizes, xl);
    width: 50%;
    align-self: flex-end;
  }

  &__list {
    display: flex;
    position: absolute;
    text-align: left;
    gap: 1rem;
    flex-direction: column;

    .active-item {
      border: 0.3rem solid red;
      border-radius: 3rem;
      p {
        opacity: 1;
      }
    }

    &-item {
      padding-block: 1rem;
      padding-inline: 2rem;
      font-size: map-get($font-sizes, xl);
      color: map-get($colors, light);
      font-weight: map-get($font-weights, medium);
      align-items: center;
      justify-content: space-between;
      display: flex;
      gap: 2rem;
      transition: all 0.4s ease;

      p {
        opacity: 0;
        transition: all 0.2s ease;
      }
      svg {
        width: 3rem;
        height: 3rem;
      }
      &:hover {
        p {
          opacity: 1;
        }
        cursor: pointer;
      }
    }
  }
}
