.section-hero {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;

  &-img {
    width: 45%;
    height: auto;
  }

  &__content {
    display: flex;
    flex-direction: column;
    width: 40%;
    gap: 5rem;
    justify-content: right;

    &-title {
      font-size: map-get($font-sizes, xxxl);
      text-align: center;
      &--companyName {
        background-image: linear-gradient(
          to right,
          map-get($colors, primary),
          map-get($colors, accent)
        );
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
      }
    }

    &-text {
      font-size: map-get($font-sizes, xl);
      text-align: justify;
    }
  }
}
