.section-brands {
  font-size: map-get($font-sizes, xxxl);
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10rem;
  padding-block-end: 40rem;

  &-title {
    font-size: map-get($font-sizes, xxxxl);
    font-weight: map-get($font-weights, semi-bold);
  }

  &__wrapper {
    width: 100%;
    position: relative;
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 20rem;
    row-gap: 10rem;

    &-items {
      width: 90%;
      height: auto;
      outline: none;
      transition: all 500ms ease;
      border: 0.1rem map-get($colors, dark) solid;

      &:nth-child(even) {
        transform: translateY(25rem);

        &:hover {
          transform: translateY(25rem) scale(1.2);
          outline: 1rem map-get($colors, accent) solid;
          outline-offset: 1rem;
        }
      }

      &:nth-child(odd):hover {
        transform: scale(1.2);
        outline: 1rem map-get($colors, accent) solid;
        outline-offset: 1rem;
      }
    }
  }
}
