.section-brands {
  padding-block: 5rem;
  background-color: map-get($colors, light);
  display: flex;
  flex-direction: column;
  align-items: center;

  &__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-block: 7rem;
    padding-inline: 15rem;

    &:nth-child(odd) {
      flex-direction: row-reverse;
      text-align: right;
      background-color: map-get($colors, accent);
      color: map-get($colors, dark);

      .section-brands__container-content--title {
        color: map-get($colors, primary);
      }
    }

    &:nth-child(even) {
      flex-direction: row;
    }

    &-content {
      &--title {
        margin-block-end: 2rem;
      }

      &--text {
        font-size: map-get($font-sizes, l);
        font-weight: map-get($font-weights, semi-bold);
      }
      width: 50%;
    }

    &-img {
      width: fit-content;
      height: fit-content;

      &--src {
        width: 50rem;
        height: auto;
      }
    }
  }
}
