.section-about {
  display: flex;
  flex-direction: row;
  gap: 2rem;
  justify-content: space-between;
  align-items: center;

  &__content {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    width: 50%;

    &-title {
      font-size: map-get($font-sizes, xxxl);
      font-weight: map-get($font-weights, semi-bold);
    }

    &-text {
      font-size: map-get($font-sizes, xl);
    }
  }

  &-img {
    width: 30rem;
  }
}
