.section-media {
  display: flex;
  flex-direction: column;
  text-align: right;
  gap: 2rem;

  &-title {
    font-size: map-get($font-sizes, xxxl);
    font-weight: map-get($font-weights, semi-bold);
  }

  &__content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    column-gap: 0;
    row-gap: 0;

    &-item {
      width: 100%;
      height: auto;
      &:nth-child(1) {
        grid-row: 1 / 2 span;
      }
    }
  }
}
